#progressbar {
    display: none;
    border: 4px solid #ff00a2;
    background-color: #ff00a2;
    margin-left: 7px;
    width: 100%;
    height: 20px;
    border-radius: 3px;
}

#progress {
    left: 10px;
    width: 100%;
}

#progress-t {
    position: absolute;
    top: 3px;
    right: -11px;
    width: 100%;
    height: 22px;
    background-color: #ffffff;
    animation: progress 4.7s linear 0s forwards;
}

@keyframes progress {
    0% {
        width: 100%
    }

    10% {
        width: 70%;
    }

    17% {
        width: 50%;
    }

    32% {
        width: 46%;
    }

    60% {
        width: 27%;
    }

    86% {
        width: 25%;
    }

    100% {
        width: 0%;
    }
}

#auth {
    margin: 16px;
    text-align: center;
    color: #ff00a2;
    font-family: "ＭＳ Ｐゴシック";
    font-size: 50px;
}

#welcome {
    display: none;
    margin: 10px;
    text-align: center;
    font-family: "ＭＳ Ｐゴシック";
    font-size: 50px;
}

#pass {
    margin-left: 16px;
}
